body {
    background: #FFF9F4;
}

.nav-link {
    color: #C98347; !important;
}


.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    height: auto;
    width: 100%;
}

.break {
    width: 25%;
    margin-top: 20em;
    color: whitesmoke;
    padding-top: 1px;
    opacity: 1;
}

.card-title-h4 {
    margin-left: 12em;
    color: whitesmoke;
}

.card-text-h1 {
    margin-left: 2em;
    font-style: normal;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3em;
    color: whitesmoke;
}

.card-text-h6 {
    margin-left: 10em;
    color: whitesmoke;
}

.break-2 {
    width: 27%;
    margin-left: 30%;
    color: whitesmoke;
    padding-top: 1px;
    opacity: 1;
}

.break-3 {
    width: 40%;
    margin-top: 5em;
    margin-left: auto;
    color: #C98347;
    padding-top: 1px;
    opacity: 1;
}

.intro {
    color: #C98347;
    text-align: center;
    font-style: normal;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.wrapper {
    position: relative;
}

.opague-box {
    top: 60px;
    left: 100px;
    position: absolute;
    width: 375px;
    height: 375px;
    background: white;
    z-index: 30;
    opacity: 0.6;
}

.opague-box h2 {
    color: #C98347;
    text-align: center;
    margin-top: 0.5em;
}

.opague-box p {
    color: #C98347;
    text-align: center;
    margin-top: 1em;
}

a {
    color: #E0A78A;
}

.tan-box {
    top: 80px;
    left: 120px;
    position: absolute;
    width: 375px;
    height: 375px;
    background: #E7D2BF;
    z-index: 2;
}

.about-me {
    width: 250px;
    height: 360px;
    margin-left: 25px;
}

#container-about-me {
    position: relative;
}

.hobby {
    height: 500px;
    width: 300px;
}

.break-4 {
    width: 40%;
    margin-top: 150px;
    margin-right: auto;
    color: #C98347;
    padding-top: 1px;
    opacity: 1;
}

.resume {
    text-align: center;
    font-size: 6em;
    margin-top: 1em;
    color: #C98347;
}

/*Need to change below*/

.pink-box h2 {
    text-align: center;
    font-style: normal;
    font-family: 'Tenor Sans', sans-serif;
    color: #C98347;
}

.break-5 {
    margin-top: 150px;
    margin-right: auto;
    color: #C98347;
    padding-top: 1px;
    opacity: 1;
}

footer {
    background-color: #C98347;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-title {
    font-size: 50px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #C98347;
}

#form {
    border: #C98347 solid 4px;
}

#contact-form {
    margin-left: 5em;
    margin-right: 5em;
}

.contact-left {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #C98347;
}

.contact-me {
    height: 200px;
    width: 300px;
    align-items: center;
}